<div class="email-width-container">
  <p> OHAI, <%= @first_name %>! </p>

  <p> Welcome to Souschef! We're glad to have you on board. </p>

  <p> This is just an email to let you know your account has officially been created. Yay! </p>

  <p> <%= link_to "Click here", @url %> to login. </p>

  <p> Cheers! </p>

  <p> The Souschef Team</p>
</div>

