
<div class="landing">
<h3> Hey! Welcome to <span> souschef. </span> </h3>
<h3> Select a recipe below to get started, or <%= link_to "add your own here.", new_recipe_url %> </h3>
</div>


<div class="recipes">
  <% @recipe.each do |recipe| %>

    <div class="recipe-list-item">
      <div class="recipe-list-image">
        <%= image_tag(recipe.image) %>
      </div>

      <div class="recipe-list-name">
        <h4><%= link_to recipe.name, "/recipes/#{recipe.id}" %> </h4>
      </div>
    </div>

<% end %>

