<% @recipe.each do |recipe| %>
  <h4><%= link_to recipe.name, "/recipes/#{recipe.id}" %> </h4>
  <%= image_tag(recipe.image, :size => "260x180", :crop => :fill) %>
  <!-- <img class="recipe-thumb" src="<%= recipe.image %>" /> -->
<% end %>

<% if current_user %>
  <%= link_to "Add Recipe", new_recipe_path %>
<% end %>