// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.recipes {
  @include media($medium-screen-up){
    margin: 1em 3em;
  }
}
.recipe-list-item {
  position: relative
}

.recipe-list-name {
  position: absolute;
  bottom: 7px;
  background-color: rgba(121, 177, 237, 0.6);
  display: block;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 1.5em;
  color: #FFFF66;

    &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }
}

.recipe-list-name a{
  color: white;
}

.recipe-list-item {
   @include media($medium-screen-only) {
    @include span-columns(4);
    @include omega(2n);
   }
 }

.recipe-list-item {
  @include media($large-screen-up) {
  @include span-columns(4);
  @include omega(3n);
 }
}

.recipe-image-container{
 @include media($large-screen-up){
  float: left;
  display: block;
  margin-right: 2.35765%;
  position: fixed;
  left: 0;
  top: 73px;
  height: 100%;
  background-color: $blue;
  color: white;
  width: 45%;
  }
}

.image-container-text {
    padding: 1.5em;
}

.recipe-image-container img{
 @include media($large-screen-up){
  overflow: hidden;
  }
}

 .right-pane {
 @include media($large-screen-up){
  width: 55%;
  float: right;
  }
}

.recipe {
  padding: 20px 10px 160px 20px;
}

.highlight {
  background-color: $yellow;
}

.fixed-buttons{
  position: fixed;
  bottom: 0;
  background: rgba(105, 105, 99, 1);
  width: 100%;
  z-index: 15;
  padding: 1em 1em;
}

.read {
  width: 40%;
  text-transform: uppercase;
  background-color: $yellow;
  color: $blue;
}
#speaker {
  padding: 10px;
}

.step-buttons{
  display: none;
  text-transform: uppercase;

}

.button-instructions{
  color: #79B1ED;
  font-size: 10px;

}

.button-instructions p{
 font-weight: 400;
}

.ingredient-field {
  @include media($medium-screen-up){
  display: inline-block;
  padding: 10px;
  width: 30%;
  vertical-align: bottom;
}
}

.fields {
  padding-top: 20px;
}

